
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">上海市消防报警演示监控端</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index">首页</a>
                </li>
                <li>
                    <a href="#">警情监控</a>
                </li>
                <li>
                    <a href="device">设备信息</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息管理<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="gateway">网关信息</a>
                        </li>
                        <li>
                            <a href="#">上报信息</a>
                        </li>
                        <li>
                            <a href="#">报警推送</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">统计分析<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="device">火灾核复</a>
                        </li>
                        <li>
                            <a href="fault">设备故障</a>
                        </li>
                        <li>
                            <a href="log">运行记录</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../big.html" target="_blank"><i class="fa fa-database"></i> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-arrows-alt"></i> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-map"></i> </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a class="J_menuItem" href="notifications.html">
                                    <strong>查看所有 </strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="#" /><span>123213</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">个人设置</a>
                        </li>
                        <li>
                            <a href="${rc.contextPath}/index.html">后台管理</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>