<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>H+ 后台主题UI框架 - 首页示例二</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="$rc.contextPath/statics/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- 图标字体 -->
    <link href="$rc.contextPath/statics/css/font-awesome.min.css" rel="stylesheet">

    <link href="$rc.contextPath/statics/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="widget style1 red-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-fire fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 告警总数 </span>
                        <h2 class="font-bold" id="alarmCount"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 离线总数 </span>
                        <h2 class="font-bold" id="lineCount"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-shield fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 企业接入总数 </span>
                        <h2 class="font-bold" id="companyCount"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 设备接入总数 </span>
                        <h2 class="font-bold" id="equipmentCount"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>近7天告警趋势图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>网关在线情况</h5>
                    <div class="pull-right">
                        <h5>网关总数：1</h5>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="container"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5>预警地图</h5>
                            <div style="height:400px" id="main"></div>
                        </div>
                        <div class="col-sm-5">
                            <h5>实时告警列表</h5>
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>告警企业</th>
                                    <th>城市</th>
                                    <th>隐患点</th>
                                    <th>最新告警时间</th>
                                    <th>详情</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                <tr>
                                    <td> 鑫达电镀厂（亨达）</td>
                                    <td>温州市</td>
                                    <td>8</td>
                                    <td>04-16 16:15</td>
                                    <td>测试</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="$rc.contextPath/statics/js/jquery.min.js?v=2.1.4"></script>
<script src="$rc.contextPath/statics/plugins/bootstrap/bootstrap.min.js?v=3.3.6"></script>
<!-- ECharts -->
<script src="$rc.contextPath/statics/plugins/echarts/echarts.min.js"></script>
<script src="$rc.contextPath/statics/plugins/echarts/zhejiang.js"></script>

<script>
    $(function () {
        jQuery.ajax({
            url:"$rc.contextPath/sys/main/info",
            type: "GET",
            dataType:"json",
            success:function (result) {
                if(result.code == 0){
                    console.log(result.info)
                    $("#alarmCount").text(result.info.alarmCount);
                    $("#lineCount").text(result.info.lineCount);
                    $("#companyCount").text(result.info.companyCount);
                    $("#equipmentCount").text(result.info.equipmentCount);
                }else{
                    console.log(result)
                }
            }
        })




        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            title: {
                text: '一周的变化'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['告警', '离线']
            },
            grid: {
                x: 40,
                x2: 40,
                y2: 24
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '告警',
                    type: 'line',
                    data: [11, 11, 15, 13, 12, 13, 10],
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name: '离线',
                    type: 'line',
                    data: [1, 0, 2, 5, 3, 2, 0],
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);
        var cChart = echarts.init(document.getElementById("container"));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:['在线','离线']
            },
            series: [
                {
                    name:'设备状态',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:335, name:'在线'},
                        {value:310, name:'离线'}
                    ]
                }
            ]
        };
        cChart.setOption(option);
        $(window).resize(cChart.resize);

    });

    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    option = null;
    var geoCoordMap = {
        "舟山市":[122.207216,29.885295],
        "湖州市":[120.1,30.76],
        "宁波市":[121.56,29.76],
        "嘉兴市":[120.76,30.67],
        "绍兴市":[120.58,29.91],
        "台州市":[121.420757,28.556386],
        "杭州市":[120.19,30.16],
        "温州市":[120.65,27.91],
        "丽水市":[119.92,28.35],
        "金华市":[119.64,29.00],
        "衢州市":[118.88,28.85]
    };

    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
                res.push({
                    name: data[i].name,
                    value: geoCoord.concat(data[i].value)
                });
            }
        }
        return res;
    };

    option = {
        backgroundColor: '#404a59',
        tooltip: {
            trigger: 'item',
            formatter: function (params) {
                return params.name + ' : ' + params.value[2];
            }
        },
        geo: {
            map: '浙江',
            label: {
                normal: {
                    textStyle: {
                        color: '#ddb926',
                        fontSize: 10,
                    },
                    show: true
                },
                emphasis: {
                    textStyle: {
                        color: '#f4e925',
                        fontSize: 10,
                    },
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    areaColor: '#323c48',
                    borderColor: '#111'
                },
                emphasis: {
                    areaColor: '#2a333d',
                    borderColor: '#fff',
                    borderWidth: 1
                }
            }
            ,
            itemStyle: {
                normal: {
                    areaColor: '#323c48',
                    borderColor: '#111'
                },
                emphasis: {
                    areaColor: '#2a333d'
                }
            }
        },
        series: [
            {
                name: 'pm2.5',
                type: 'scatter',
                coordinateSystem: 'geo',
                data: convertData([
                    {name: "舟山市", value: 9},
                    {name: "湖州市", value: 12},
                    {name: "宁波市", value: 12},
                    {name: "嘉兴市", value: 12},
                    {name: "绍兴市", value: 14},
                    {name: "台州市", value: 14},
                    {name: "杭州市", value: 14},
                    {name: "温州市", value: 14},
                    {name: "丽水市", value: 14},
                    {name: "金华市", value: 14},
                    {name: "衢州市", value: 14}
                ]),
                symbolSize: 12,
                label: {
                    normal: {
                        show: false
                    },
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    emphasis: {
                        borderColor: '#fff',
                        borderWidth: 1
                    }
                }
            }
        ]
    };
    myChart.setOption(option, true);
</script>
</body>

</html>