<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <title>地图显示</title>
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
        }

        .info {
            min-width: 15rem;
        }

        .search {
            /*padding: .75rem 1.25rem;*/
            margin-bottom: 1rem;
            border-radius: .25rem;
            position: fixed;
            top: 1rem;
            background-color: white;
            width: auto;
            min-width: 22rem;
            border-width: 0;
            left: 1rem;
            box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
        }

        .in {
            padding: 0;
        }

        .checkbox {
            color: red;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border-radius: .25rem;
            position: fixed;
            top: 1rem;
            background-color: white;
            width: auto;
            min-width: 20rem;
            border-width: 0;
            left: 35rem;
            box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
        }
    </style>
</head>
<body>
<div id="container"></div>
<div class="info">
    <p style="color: rgb(255, 133, 27)">接入单位：<span></span></p>
    <hr>
    <p style="color: rgb(221, 75, 57)">当前报警：<span></span></p>
    <hr>
    <p style="color: rgb(51, 133, 255)">接入设备：<span></span></p>
    <hr>
    <p style="color: rgb(0, 166, 90)">在线网关：<span></span></p>
    <hr>
    <p style="color: rgb(153, 153, 153)">离线网关：<span></span></p>
</div>
<div class="search">
    <input type="text" class="in" placeholder="回车进行搜索">
</div>
<div class="checkbox">
    <input type="checkbox" checked>火警
    <input type="checkbox" checked>故障
    <input type="checkbox" checked>正常
    <input type="checkbox" checked>离线
    <input type="checkbox" checked>全选
</div>
<script src="$rc.contextPath/statics/js/jquery.min.js"></script>
<!-- 加载地图JSAPI脚本 -->
<script src="https://webapi.amap.com/maps?v=1.4.14&key=cb8ee286c814c0c8e629b1d21cc3d89c"></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script>
    //加载设备数据
    jQuery.ajax({
        url: "$rc.contextPath/sys/eq/list",
        type: "POST",
        contentType: "application/json",
        dataType: "JSON",
        data: JSON.stringify({
            name: '',
            type: ''
        }),
        success: function (result) {
            var markers = new Array();
            for (var i = 0; i < result.total; i++) {
                var obj = {position: [result.rows[i].lng, result.rows[i].lat], data: result.rows[i]};
                markers.push(obj)
            }
            loadMap(markers)
        }
    })

    function loadMap(markers) {
        var map = new AMap.Map('container', {
            resizeEnable: true, //是否监控地图容器尺寸变化
            zoom: 4, //初始化地图层级
            center: [106.455213, 39.169307], //初始化地图中心点
            mapStyle: "amap://styles/blue"
        });

        map.clearMap();  // 清除地图覆盖物
        AMapUI.loadUI(['overlay/SimpleInfoWindow'], function (SimpleInfoWindow) {

            // 添加标记点
            markers.forEach(function (marker) {
                var obj = new AMap.Marker({
                    map: map,
                    icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    position: [marker.position[0], marker.position[1]],
                    offset: new AMap.Pixel(-13, -30)
                });
                //鼠标点击marker弹出自定义的信息窗体
                AMap.event.addListener(obj, 'click', function () {
                    info(marker.data, map, obj)
                });
            });
            //自适应屏幕
            map.setFitView();
            //弹框
            function info(data, map, marker) {
                var infoWindow = new SimpleInfoWindow({

                    infoTitle: '<strong>设备名称:' + data.name + '</strong>',
                    infoBody: '<p class="my-desc"><strong>所属公司:' + data.comName + '</strong> <br/> ' +
                    '<p class="my-desc"><strong>编号:' + data.code + '</strong> <br/> ' +
                    '<p class="my-desc"><strong>状态:' + (data.isOnline==0?"离线":"在线") + '</strong> <br/> ',

                    //基点指向marker的头部位置
                    offset: new AMap.Pixel(-2, -30)
                });
                infoWindow.open(map, marker.getPosition());
            }


        });

    }


</script>
</body>
</html>