<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.CigaretteMapper">
    <select id="findAll" resultType="map">
        select * from cigarette_equipment
    </select>
    <select id="findOne" parameterType="string" resultType="map">
        select * from cigarette_equipment where code=#{imei}
    </select>
    <insert id="addRecord" parameterType="map">
        insert into cigarette_equipment(code, info, time) values(#{code}, #{info}, #{time})
    </insert>
</mapper>