<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="cn.hz.fcloud.entity.Company">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
    <result column="provider_id" jdbcType="BIGINT" property="providerId" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, province, city, district, provider_id, picture, address, remark, create_user, 
    create_time, is_delete,code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="cn.hz.fcloud.entity.Company">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hz.fcloud.entity.Company">
    insert into company (id, name, province, 
      city, district, provider_id, 
      picture, address, remark, 
      create_user, create_time, is_delete,code
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{district,jdbcType=INTEGER}, #{providerId,jdbcType=BIGINT}, 
      #{picture,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      ,#{code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hz.fcloud.entity.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="providerId != null">
        provider_id,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=INTEGER},
      </if>
      <if test="providerId != null">
        #{providerId,jdbcType=BIGINT},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hz.fcloud.entity.Company">
    update company
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="providerId != null">
        provider_id = #{providerId,jdbcType=BIGINT},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hz.fcloud.entity.Company">
    update company
    set name = #{name,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      provider_id = #{providerId,jdbcType=BIGINT},
      picture = #{picture,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countAll" resultType="int">
    select count(*) from company
  </select>

  <select id="companyListByProviderId" resultType="cn.hz.fcloud.entity.Company">
    select
    <include refid="Base_Column_List" />
    from company
    where
    provider_id = #{value}

  </select>
  <select id="companyList" resultType="cn.hz.fcloud.entity.Company">
    select
    <include refid="Base_Column_List" />
    from company
    where
    is_delete = 1;
  </select>
  <select id="findAllCompanys" resultType="cn.hz.fcloud.entity.Company">
    select
    c.*,count(e.id) eqsCount,s.username cName
    from company c left join sys_user s on s.id = c.create_user left join equipment e on c.id = e.company_id
    where 1 = 1
    <if test="name!=null and name!=''">
      and c.name like CONCAT('%',#{name},'%')
    </if> GROUP BY c.id
    order by c.id limit #{offset},#{limit}
  </select>
  <select id="findAllCompanysCount" resultType="integer">
    select
    count(c.id) from company c
    where 1 = 1
    <if test="name!=null and name!=''">
      and c.name like CONCAT('%',#{name},'%')
    </if>
  </select>
  <select id="findComsByProId" resultType="cn.hz.fcloud.entity.Company">
    select
    c.*,count(e.id) eqsCount,s.username cName
    from company c left join sys_user s on s.id = c.create_user left join equipment e on c.id = e.company_id
    where c.provider_id = #{id}
    <if test="name!=null and name!=''">
      and c.name like CONCAT('%',#{name},'%')
    </if>
    GROUP BY c.id order by c.id limit #{offset},#{limit}
  </select>
  <select id="selectComsByProId" resultType="cn.hz.fcloud.entity.Company">
    select * from company where provider_id = #{id} and is_delete = 1
  </select>
  <select id="findComsByProIdCount" resultType="integer">
    select count(c.id) from company c  where c.provider_id = #{id}
    <if test="name!=null and name!=''">
      and c.name like CONCAT('%',#{name},'%')
    </if>
  </select>
  <update id="modifyState">
      update company set is_delete = #{isDelete} where id = #{id}
  </update>
  <select id="findCompanyCode" resultType="String">
       select code from company order by code desc limit 1
  </select>
  <select id="findCompanyByName" resultType="cn.hz.fcloud.entity.Company">
       select * from company where name = #{name}
  </select>
</mapper>