<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.EqInfosMapper">
    <select id="findOne" resultType="cn.hz.fcloud.entity.EqInfos">
       SELECT e.*,
       (SELECT name from sys_china where id = e.province)as p_name,
       (SELECT name from sys_china where id = e.city)as c_name,
       (SELECT name from sys_china where id = e.district)as d_name,
       (SELECT name from equipment_type where id = e.type)as type_name,
       (SELECT name from company where id = e.company_id)as com_name from equipment e
         where e.code = #{code}
    </select>

    <select id="findAll" resultType="cn.hz.fcloud.entity.EqInfos">
       SELECT e.*,
       (SELECT name from sys_china where id = e.province)as p_name,
       (SELECT name from sys_china where id = e.city)as c_name,
       (SELECT name from sys_china where id = e.district)as d_name,
        (SELECT name from equipment_type where id = e.type)as type_name,
       (SELECT name from company where id = e.company_id)as com_name from equipment e
       where 1 = 1
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
           order by e.id
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findAllCount" resultType="integer">
        SELECT count(e.id) from equipment e
        where 1 = 1
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
    </select>


    <select id="findByComId" resultType="cn.hz.fcloud.entity.EqInfos">
       SELECT e.*,
       (SELECT name from sys_china where id = e.province)as p_name,
       (SELECT name from sys_china where id = e.city)as c_name,
       (SELECT name from sys_china where id = e.district)as d_name,
       (SELECT name from equipment_type where id = e.type)as type_name,
       (SELECT name from company where id = e.company_id)as com_name from equipment e
       where e.company_id = #{id}
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
        order by e.id
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findByComIdCount" resultType="integer">
        SELECT count(e.id) from equipment e
        where e.company_id = #{id}
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
    </select>
    <select id="findByProviderId" resultType="cn.hz.fcloud.entity.EqInfos">
     SELECT e.*,
(SELECT name from sys_china s where s.id = e.province)as p_name,
(SELECT name from sys_china s where s.id = e.city)as c_name,
(SELECT name from sys_china s where s.id = e.district)as d_name,
(SELECT name from equipment_type where id = e.type)as type_name,
(SELECT name from company where id = e.company_id)as com_name
 FROM equipment e WHERE e.company_id in (SELECT c.id FROM company c LEFT JOIN provider p on c.provider_id = p.id WHERE p.id = #{id})
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
        order by e.id
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <select id="findByProviderIdCount" resultType="integer">
        SELECT count(e.id)
        FROM equipment e WHERE e.company_id in (SELECT c.id FROM company c LEFT JOIN provider p on c.provider_id = p.id WHERE p.id = #{id})
        <if test="name!=null and name!=''">
            and e.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and e.type = #{type}
        </if>
    </select>
</mapper>