<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.EquipmentMapper">
    <select id="findAll" resultType="cn.hz.fcloud.entity.Equipment">
        select * from equipment
    </select>
    <select id="findOne" parameterType="int" resultType="cn.hz.fcloud.entity.Equipment">
        select * from equipment where code=#{code}
    </select>
    <insert id="addEquipment" parameterType="cn.hz.fcloud.entity.Equipment">
        insert into equipment values(#{id,jdbcType=BIGINT}, #{code}, #{name}, #{type}, #{province}, #{city}, #{district}, #{address}, #{lng}, #{lat}, #{createUser}, 0, #{lastReportTime}, #{createTime}, #{isDeleted}, #{companyId}, #{remark})
    </insert>
	<update id="delEquipment" parameterType="int">
        update equipment set is_deleted=0 where code=#{code}
    </update>
    <update id="updateReportTimeAndOnline" parameterType="cn.hz.fcloud.entity.Equipment">
        update equipment set is_online=#{isOnline}
        <if test="lastReportTime != null">
            ,last_report_time=#{lastReportTime}
        </if>
        where code=#{code}
    </update>
    <select id="lineCount" resultType="int">
        select count(*) from equipment where is_online = 0
    </select>
    <select id="countAll" resultType="int">
        select count(*) from equipment
    </select>
    <select id="selectByCompanyId" resultType="cn.hz.fcloud.entity.Equipment">
        select * from equipment where company_id = #{value}
    </select>
</mapper>