<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.EquipmentDataMapper">
    <select id="findAll" resultType="cn.hz.fcloud.entity.EquipmentData">
        select * from equipment_data
    </select>
    <select id="findOne" parameterType="string" resultType="cn.hz.fcloud.entity.EquipmentData">
        select * from equipment_data where code=#{imei}
    </select>
    <insert id="addRecord" parameterType="cn.hz.fcloud.entity.EquipmentData">
        insert into equipment_data values(#{id,jdbcType=BIGINT}, #{code}, #{info}, #{type}, #{createTime})
    </insert>
    <select id="findType" parameterType="int" resultType="cn.hz.fcloud.entity.EquipmentData">
        select * from equipment_data where type=#{type}
    </select>
    <select id="alarmCount" resultType="int">
         select count(*) from equipment_data where to_days(create_time)=to_days(now()) and type = 0
    </select>
    <select id="alarmCountByCode" resultType="int">
         select count(*) from equipment_data where to_days(create_time)=to_days(now()) and type = 0 and code =#{value}
    </select>
    <select id="AlarmListByCode" resultType="cn.hz.fcloud.entity.EquipmentDataAndName">
         select d.*,e.name from equipment_data d,equipment e where d.code=e.code and
         to_days(d.create_time)=to_days(now()) and d.type = 0 and
         d.code in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="AlarmTrend" resultType="java.util.HashMap">
        select DATE_FORMAT(create_time,'%m.%d') days,count(id) count from equipment_data where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(create_time) and type =0 GROUP BY days;
    </select>

    <select id="alarmTable" resultType="java.util.HashMap">
          select d.info,e.name,c.name as company,sc.name as city,d.create_time from equipment_data d,equipment e,company c,sys_china sc where to_days(d.create_time)=to_days(now()) and d.type = 0 and d.`code`= e.`code` and e.company_id = c.id and sc.id=c.city
          <if test="ids!=null">
              and c.id in
              <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
    </select>

    <select id="lineChartMap" resultType="java.util.HashMap">
        select DATE_FORMAT(d.create_time,'%m.%d') days,count(d.id) count from equipment_data d,equipment e where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(d.create_time) and d.type =0 and d.`code`=e.`code` and
        e.company_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY days;
    </select>
    <select id="findAlarmEquipmentAndCount" resultType="map">
        select e.type,count(e.type) ct from equipment e left join equipment_data ed on e.code=ed.code group by e.type
    </select>
    <select id="findAlarmEquipmentAndCountByUser" parameterType="long" resultType="map">
        select c.type,count(c.type) ct from equipment_data ed right join (select e.id,e.code,e.type from equipment e right join (select c.id,c.name from company c right join (select p.id from sys_user u right join provider p on u.provider_id=p.id where u.id=#{userId}) a on c.provider_id=a.id) b on e.company_id=b.id) c on ed.code=c.code group by c.type
    </select>
    <select id="findCompanyAlarmCount" resultType="map">
        select a.name,count(a.name) cn from (select c.name,e.code from company c left join equipment e on c.id=e.company_id)a left join equipment_data ed on a.code=ed.code group by a.name
    </select>
    <select id="findCompanyAlarmCountByUser" parameterType="long" resultType="map">
        select d.name,count(d.id) cn from equipment_data ed right join (select e.code,c.id,c.`name` from equipment e right join (select c.id,c.name from company c right join (select p.id from provider p right join (select provider_id from sys_user where id=#{userId} and provider_id is not null group by provider_id)a on p.id=a.provider_id)b on c.provider_id=b.id where c.id is not null)c on e.company_id=c.id)d on ed.`code`=d.`code` group by d.id
    </select>
    <select id="find7dayAlarmCount" resultType="map">
        <![CDATA[
            select date_format(ed.create_time,"%m-%d") dfc,count(e.code) cc from equipment e left join equipment_data ed on e.code=ed.code where date_sub(curdate(),interval 7 day)<=date(ed.create_time) group by dfc order by dfc
        ]]>
    </select>
    <select id="find7dayAlarmCountByUser" parameterType="long" resultType="map">
        <![CDATA[
            select DATE_FORMAT(ed.create_time,"%m-%d") dfc,count(d.code) cc from equipment_data ed right join (select e.code from equipment e right join (select c.id from company c right join (select p.id from provider p right join (select provider_id from sys_user where id=#{userId} and provider_id is not null)a on p.id=a.provider_id)b on c.provider_id=b.id)c on e.company_id=c.id)d on ed.code=d.code where DATE_SUB(CURDATE(),INTERVAL 7 DAY)<=DATE(ed.create_time) group by dfc order by dfc
        ]]>
    </select>
    <select id="recent5Record" resultType="map">
        select sc.merger_short_name,a.code,a.name,a.type,a.address,a.info from sys_china sc right join (select e.code,e.name,e.type,e.district,e.address,ed.info from equipment e left join equipment_data ed on e.code=ed.code order by ed.create_time desc limit 5)a on sc.id=a.district
    </select>
    <select id="recent5RecordByUser" parameterType="long" resultType="map">
        select sc.merger_short_name,e.code,e.name,e.type,e.address,e.info from sys_china sc right join (select d.*,ed.info from equipment_data ed right join (select e.code,e.name,e.type,c.district,e.address from equipment e right join (select c.id,c.district from company c right join (select p.id from provider p right join (select provider_id from sys_user where id=#{userId} and provider_id is not null)a on p.id=a.provider_id)b on c.provider_id=b.id)c on e.company_id=c.id)d on ed.`code`=d.`code` order by ed.create_time desc limit 5)e on sc.id=e.district
    </select>
    <select id="findAreaAlarmCount" resultType="map">
        select sc.short_name sn,b.csi from sys_china sc right join (select sc.parent_id,count(sc.id) csi from sys_china sc right join (select e.district from equipment e right join equipment_data ed on e.`code`=ed.`code`)a on sc.id=a.district where sc.id is not null group by sc.id)b on sc.id=b.parent_id
    </select>
    <select id="findAreaAlarmCountByUser" parameterType="long" resultType="map">
        select sc.short_name sn,f.csi from sys_china sc right join (select sc.parent_id,e.csi from sys_china sc right join (select d.district,count(d.district) csi from equipment_data ed right join (select e.code,c.district from equipment e right join (select c.id,c.district from company c right join (select p.id from provider p right join (select provider_id from sys_user where id=#{userId} and provider_id is not null)a on p.id=a.provider_id)b on c.provider_id=b.id)c on e.company_id=c.id)d on ed.code=d.code where ed.id is not null group by d.district)e on sc.id=e.district)f on sc.id=f.parent_id
    </select>
</mapper>