<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hz.fcloud.dao.SysUserRoleMapper">
	<insert id="save">
		insert into sys_user_role
		(
		`user_id`,
		`role_id`
		)
		values
		<foreach collection="roleIdList" item="item" index="index" separator="," >
			(
			#{userId},
			#{item}
			)
		</foreach>
	</insert>

	<delete id="delete">
		delete from sys_user_role where user_id = #{value}
	</delete>

	<select id="queryHasRole" resultType="cn.hz.fcloud.entity.pojo.RolePOJO">
		SELECT u.*,r.role_name FROM `sys_user_role` u,sys_role r where u.role_id=r.role_id and u.user_id=#{value}
	</select>
</mapper>